include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/oidc_pkce_bpa *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/oidc_pkce_bpa/migration *.ini *.py *.mako
